*
{
	box-sizing: border-box;
	font-family: DOSFont;
	margin: 0;
	outline: none;
	padding: 0;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
}

body
{
	background: Black;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

a, p a
{
	color: Blue;
}

a:active, p a:active
{
	color: Red;
}

a:visited, p a:visited
{
	color: #FF00FF;
}

body *
{
	color: #BBBBBB;
	margin: auto;
	padding: auto;
}

h1
{
	color: White;
}

p
{
	color: #949494;
}

@font-face
{
	font-family: DOSFont;
	src: url(../fonts/DOS.ttf);
}