*
{
	/* font-family: HelveticaNeue; */
	margin: 0;
	outline: none;
	padding: 0;
	user-select: none;
	-webkit-tap-highlitght-color: rgba(0, 0, 0, 0);
}

body
{
  background: Black;
  overflow: hidden;
}

input
{
  border: none;
}

.TextField
{
	background: Black;
	color: White;
	font-family: Consolas, monospace;
	resize: none;
}

.TextField::selection
{
	color: White;
	background: Red;
}

.TextField::-webkit-scrollbar
{
	width: 8px;
}

.TextField::-webkit-scrollbar-thumb
{
	background: Green;
}

.TextField::-webkit-scrollbar-track
{
	border: 1px dashed Green;
}

/* @font-face
{
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue-UltraLight.ttf);
} */
